PROJECT_ID=
LOCATION=location
MONGODB_ATLAS_CLUSTER_URI=
SERVICE_API_KEY=
TRACK_LLM=False
JWS_SECRET_KEY=
LANGFUSE_SECRET_KEY=sk-
LANGFUSE_PUBLIC_KEY=pk-
LANGFUSE_HOST=
GOOGLE_API_KEY=
SERVER_PORT=8000
